@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Color class template */

.green-bg {
    background-color: #5cb85f;
}

.grey-bg {
    background-color: #f1f3ff;
}

.bluedark-bg {
    background-color: #0d28a6;
}

/* End Section */
/* Header Section */

.navbar-nav li:nth-child(5) {
    border-radius: 2px;
}

.logo {
    background-color: #0d28a6;
    width: 100px;
    height: 34px;
}

.header-section {
    margin-top: 37px;
}

.left-header-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-header-section h3 {
    font-size: 36px;
    line-height: 54px;
}

.left-header-section-content {
    padding-left: 102px;
    padding-right: 32px;
}

.left-header-section-content a {
    border-radius: 2px;
}

.right-header-section img {
    width: 100%;
}

/* End Section */
/* Our Services Section */

.our-services {
    align-items: center;
    padding-top: 100px;
    width: 1027px;
}

.point-services {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 18px;
}

.point-services p {
    margin-left: 16px;
    margin-bottom: 0px;
}

/* End Section */
/* Why Us Section */

.why-us {
    margin: 100px auto;
}

.why-us-upper {
    margin-bottom: 40px;
}

.why-us-card {
    margin-right: 8px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #d0d0d0;
}

.why-us-card img {
    padding-bottom: 16px;
}

.why-us-card h5 {
    font-size: 16px;
    padding-bottom: 16px;
    font-weight: bold;
}

.why-us-card p {
    font-size: 14px;
}

/* End Section */
/* Testimonial Section */

.testimonial {
    margin: 100px auto;
}

.lower-testimonial-section {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.testimonial .card-testimonial {
    display: flex;
    position: relative;
    margin-right: 32px;
    padding: 69px 0px;
    width: 619px;
    border-radius: 8px;
    border: 1px solid #d0d0d0;
    background-color: #f1f3ff;
    box-shadow: 0px 0px 4px 0px #00000026;
}

.testimonial .card-testimonial:nth-child(1) {
    left: -257px;
}

.testimonial .card-testimonial:nth-child(2) {
    left: -250px;
}

.testimonial .card-testimonial:nth-child(3) {
    left: -245px;
}

.left-card-testimonial {
    margin: auto 46px;
}

.right-card-testimonial {
    margin-right: 32px;
    width: 100%;
}

.desc-card-testimonial {
    width: 415px;
}

.navigation-testimonial-section {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.navigation-testimonial-section img:nth-child(1) {
    margin-right: 24px;
    cursor: pointer;
}

.navigation-testimonial-section img {
    cursor: pointer;
}

/* End Section */
/* CTA Banner Section */
.ctabanner-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}

.ctabanner-section h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 64px;
    padding-bottom: 16px;
    color: #ffffff;
}

.ctabanner-section p {
    width: 40%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 52px;
    color: #ffffff;
}

.ctabanner-btn {
    margin-bottom: 64px;
    border-radius: 2px;
}

/* End Section */
/* FAQ Section */

.faq-section {
    margin: 100px auto;
    display: flex;
}

.left-faq-section {
    width: 50%;
}

.right-faq-section {
    width: 50%;
}

.right-faq-section .item-faq-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    cursor: pointer;
}

.right-faq-section .item-faq-section p,
.right-faq-section .item-faq-section img {
    margin: 18px 24px;
}

/* End Section */
/* Footer Section */

.footer-section {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.address-footer-section {
    width: 268px;
}

.navigation-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation-footer-section a {
    text-decoration: none;
    color: #000000;
}

.icon-sosmed-footer-section {
    display: flex;
    justify-content: space-between;
    width: 268px;
}

.icon-sosmed-footer-section img:nth-child(1) {
    margin-right: 1rem;
}

.icon-sosmed-footer-section img:nth-child(2) {
    margin-right: 1rem;
}

.icon-sosmed-footer-section img:nth-child(3) {
    margin-right: 1rem;
}

.icon-sosmed-footer-section img:nth-child(4) {
    margin-right: 1rem;
}

.logo-footer {
    display: block;
    background-color: #0d28a6;
    width: 100px;
    height: 34px;
}

/* End Section */

/* Responsive Section */

@media screen and (max-width: 768px) {
    .navbar-toggler {
        border: none !important;
        outline: none !important;
    }
    .left-header-section-content {
        margin-top: 32px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .right-header-section img {
        margin-top: 24px;
    }

    .our-services {
        width: 100%;
    }

    .left-services-section {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }

    .left-services-section img {
        width: 252px;
        height: 228px;
    }

    .content-list-services p {
        text-align: justify;
        font-size: 14px;
    }

    .point-services p {
        font-size: 14px;
    }

    .why-us-upper {
        text-align: center;
    }

    .why-us-card {
        margin-bottom: 16px;
    }

    .testimonial {
        margin: 50px auto;
        width: 336px;
    }

    .lower-testimonial-section {
        display: block;
        justify-content: center;
    }

    .card-testimonial:nth-child(1) {
        display: none !important;
    }

    .card-testimonial:nth-child(2) {
        display: block !important;
        left: 0px !important;
        width: 100%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .card-testimonial:nth-child(2) .left-card-testimonial {
        margin: auto 0px;
        text-align: center;
        padding-top: 40px !important;
    }

    .card-testimonial:nth-child(2) .right-card-testimonial .rating-card-testimonial {
        text-align: center;
        margin: 24px auto;
    }

    .card-testimonial:nth-child(2) .desc-card-testimonial {
        width: 100%;
        padding: 0px 32px 0px 32px;
    }

    .card-testimonial:nth-child(2) p {
        width: 100%;
        padding: 0px 32px 24px 32px;
    }

    .card-testimonial:nth-child(3) {
        display: none !important;
    }

    .ctabanner-section h3 {
        font-size: 24px;
        line-height: 36px;
        padding-left: 58px;
        padding-right: 58px;
    }

    .ctabanner-section p {
        width: 100%;
        padding-left: 58px;
        padding-right: 58px;
        padding-bottom: 32px;
    }

    .faq-section {
        display: block;
    }

    .faq-section .left-faq-section {
        width: 100%;
        text-align: center;
    }

    .faq-section .right-faq-section {
        width: 100%;
    }

    .footer-section {
        display: block;
    }

    .footer-section .navigation-footer-section a {
        margin-bottom: 16px;
    }

    .footer-section .copyright-footer-section {
        margin-top: 16px;
    }
}
